.spinner {
	margin: 5rem auto;
	text-align: center;

	svg {
		height: 4rem;
		width: 4rem;
		animation: rotate 2s infinite linear;
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
}

.error {
	max-width: 40rem;
	margin: 0 auto;
	padding: 5rem 4rem;

	display: flex;
	align-self: center;

	svg {
		height: 3rem;
		width: 3rem;
		transform: translateY(-0.3rem);
	}

	p {
		margin-left: 1.5rem;
		font-size: 1.8rem;
		line-height: 1.5;
		font-weight: 500;
	}
}

.marker {
	height: 8rem;
	width: 8rem;
}
